body:not(.production) {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
  }

 #calendar {
    max-width: 1200px;
    margin: 40px auto;
    background-color: whitesmoke;
    padding: 24px;
    border-radius: 16px;
    border: 5px solid gray;
 }

.custom-tooltip {
    --bs-tooltip-bg: var(--bs-secondary);
    --bs-tooltip-zindex: 9999;
    --bs-tooltip-opacity: 1;
}

.custom-tooltip .tooltip-inner {
    background-color: var(--bs-tooltip-bg);
}

.custom-tooltip.show {
    opacity: var(--bs-tooltip-opacity);
}

.custom-tooltip.bs-tooltip-auto[data-popper-placement^=top] .tooltip-inner {
    box-shadow: 2px -2px 5px black;
}

.custom-tooltip.bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-inner {
    box-shadow: -2px 2px 5px black;
}

.custom-tooltip.bs-tooltip-auto[data-popper-placement^=left] .tooltip-inner {
    box-shadow: -2px 2px 5px black;
}

.custom-tooltip.bs-tooltip-auto[data-popper-placement^=right] .tooltip-inner {
    box-shadow: 2px -2px 5px black;
}

.custom-tooltip.bs-tooltip-top .tooltip-arrow::before, .custom-tooltip.bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow::before {
    border-top-color: var(--bs-tooltip-bg);
}

.custom-tooltip.bs-tooltip-bottom .tooltip-arrow::before, .custom-tooltip.bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow::before {
    border-bottom-color: var(--bs-tooltip-bg);
}

.custom-tooltip.bs-tooltip-start .tooltip-arrow::before, .custom-tooltip.bs-tooltip-auto[data-popper-placement^=left] .tooltip-arrow::before {
    border-left-color: var(--bs-tooltip-bg);
}

.custom-tooltip.bs-tooltip-end .tooltip-arrow::before, .custom-tooltip.bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow::before {
    border-right-color: var(--bs-tooltip-bg);
}

.lds-roller {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-right: -40px;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#spinnerWrapper {
    background-color: Black;
    opacity: 80%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}


#LitCalMessages {
    width: 75%;
    margin:30px auto;
    border:1px solid darkslategray;
    padding:10px;
    background: lightgray;
}

#LitCalMessages th {
    font-size: 1.3em;
    padding: 10px;
}

#LitCalMessages td {
    padding: 5px;
    border-bottom: 1px solid White;
}

#LitCalMessages td:first-child {
    border-right: 1px groove White;
}

